*.a
*.lo
*.o
*.pyc

**/.deps/
**/.dirstamp/
**/.libs/

**/Makefile
**/Makefile.in

/m4/

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing

/utils/atools
